:root {
    --primary-color: #F9A1AF;
    --secondary-color: #FFFFFE;
    --accent-color: #9D3698;
}

p {
    font-size: 2rem;
    text-align: justify;
}

p::first-line {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

p::first-letter {
    font-size: 120px;
    color: var(--accent-color);
}

p::selection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

ul {
    margin-bottom: 1000px;
}

li {
    font-size: 30px;
    /* color: red; */
    /* list-style-type: none; */
}

li::marker {
    color: var(--accent-color);
}

span {
    font-size: 3rem;
}

span::before {
    content: '→';
}

span::after {
    content: '←';
}