.a {
    background-color: lightblue;
}

.b {
    background-color: lightcoral;
}

.c {
    background-color: lightgreen;
}

.d {
    background-color: lightpink;
}

.a,
.b,
.c,
.d {
    color: white;
    padding: 16px;
    margin: 16px;
    border-width: 4px;
    border-style: solid;
    border-color: black;

    /* border: width style color; */
    /* border: 4px solid red; */
}

.a,
.b,
.c {
    width: 400px;
    display: inline-block;
}